#sect04 .tab-list {
        width: 100%;
        height: 10vw;
        margin:7.4vw auto 0;
        display: flex;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
    }
    #sect04 .tab-list a {
        width: calc(100% / 6);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #ffc831;
        font-size: 3.4vw;
        color:#333;
        font-family: 'SEBANG';
        font-weight: 400;
    }
    #sect04 .tab-list a:nth-child(odd) {
            background-color: #f5bd22;
        }
    #sect04 .tab-list a.active {
        background-color: #fffaed;
        position: relative;
    }    
    #sect04 .tab-list a span {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        font-family: inherit;
    }
    #sect04 .tab-list a.active span {
        font-weight: 700;
    }
    #sect04 .tab-list a.active span::before {
        content: '';
        border-bottom:2.6vw solid #ffe18f;
        display: block;
        z-index: 0;
        position: absolute;
        width: 120%;
        left: 50%;
        transform: translate(-50%, 10px);
        z-index: -1;
    }
    #sect04 .tab-container {
        height: 118.80vw;
        overflow: hidden; 
        background-color: #fffaed;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;}
    #sect04 .tab-cont {
        height: 118.80vw;
        padding:6.66vw 4vw;
        opacity: 1;
        position: absolute;
        left: 0;
        top:0;
    }
    #sect04 .tab-cont:not(:first-child) {
            opacity: 0;
    }#sect04 .tab-list {
        width: 100%;
        height: 10vw;
        margin:7.4vw auto 0;
        display: flex;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
    }
    #sect04 .tab-list a {
        width: calc(100% / 6);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #ffc831;
        font-size: 3.4vw;
        color:#333;
        font-family: 'SEBANG';
        font-weight: 400;
    }
    #sect04 .tab-list a:nth-child(odd) {
            background-color: #f5bd22;
        }
    #sect04 .tab-list a.active {
        background-color: #fffaed;
        position: relative;
    }    
    #sect04 .tab-list a span {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        font-family: inherit;
    }
    #sect04 .tab-list a.active span {
        font-weight: 700;
    }
    #sect04 .tab-list a.active span::before {
        content: '';
        border-bottom:2.6vw solid #ffe18f;
        display: block;
        z-index: 0;
        position: absolute;
        width: 120%;
        left: 50%;
        transform: translate(-50%, 10px);
        z-index: -1;
    }
    #sect04 .tab-container {
        height: 118.80vw;
        overflow: hidden; 
        background-color: #fffaed;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;}
    #sect04 .tab-cont {
        height: 118.80vw;
        padding:6.66vw 4vw;
        opacity: 1;
        position: absolute;
        left: 0;
        top:0;
    }
    #sect04 .tab-cont:not(:first-child) {
            opacity: 0;
    }